body{
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    display:flex;
    margin: 150px 5% 1vw 5%;
    background-color: #262626;
    padding: 1%;
    border-radius: 10px;
    gap: 1vw;
    flex-direction: column;
    color: white;
    line-height: 3vw;
}

.main-container h1{
    text-decoration: underline;
    text-align: center;
    margin: 0;
    font-size: 3vw;
}

.main-container h2{
    text-decoration: underline;
    margin: 0;
    font-size: 2vw;
}

.main-container li{
    margin: 0;
    font-size: 1.2vw;
}

.main-container ul{
    margin: 0;
}

.main-container h3{
    font-size: 1.2vw;
    margin: 0;
}

.contact-button-link{
    text-align: center;
    text-decoration: none;
    background-color: orange;
    color: #262626;
    padding: 2%;
    font-size: 1.7vw;
    margin: 1.5vw;
    font-weight: bold;
    border-radius: 100px;
    animation: call-now-animation 0.8s alternate infinite;
    transition: 0.5s;
    border:black 2px solid;
    box-shadow: 1vw 1vw 1vw black;
}

.contact-button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact-button-link:hover{
    animation-play-state: paused;
    background-color: white;
}

@keyframes call-now-animation{
    0%{
        transform: scale(100%);
        box-shadow: 1vw 1vw 1.2vw black;
    }

    100%{
        transform: scale(110%);
        box-shadow: 1vw 1vw 2vw black;
    }
}


@media screen and (width < 1150px){
    .main-container h1{
        text-decoration: underline;
        text-align: center;
        margin: 0;
        font-size: 3.5vw;
    }
    
    .main-container h2{
        text-decoration: underline;
        margin: 0;
        font-size: 3vw;
    }
    
    .main-container li{
        margin: 0;
        font-size: 2vw;
    }
    
    .main-container ul{
        margin: 0;
    }
    
    .main-container h3{
        font-size: 2vw;
        margin: 0;
    }
    .contact-button-link{
        font-size: 3vw;
    }
    .main-container{
        line-height: 5vw;
    }
}


@media screen and (width < 870px){
    .main-container h1{
        text-decoration: underline;
        text-align: center;
        margin: 0;
        font-size: 4vw;
    }
    
    .main-container h2{
        text-decoration: underline;
        margin: 0;
        font-size: 3.5vw;
    }
    
    .main-container li{
        margin: 0;
        font-size: 3vw;
    }
    
    .main-container ul{
        margin: 0;
    }
    
    .main-container h3{
        font-size: 3vw;
        margin: 0;
        margin-top: 5vw;
    }
    .contact-button-link{
        font-size: 3.5vw;
    }
    .main-container{
        line-height: 5vw;
    }
    
}

